meta:
  default:
    azs: [z1, z2, z3]

instance_groups:
- name: vault
  jobs:
    - { release: safe,     name: vault }
  instances: 3
  azs:       (( grab params.availability_zones || meta.default.azs ))

  persistent_disk_pool: (( grab params.vault_disk_pool || 'default' ))
  vm_type:              (( grab params.vault_vm_type   || 'default' ))

  stemcell: default
  networks:
  - name:       (( grab params.vault_network || 'vault' ))
    static_ips: (( static_ips(0, 1, 2) ))
  properties:
    safe:
      peer:
        tls:
          certificate: (( vault meta.vault "/certs/consul:certificate" ))
          key:         (( vault meta.vault "/certs/consul:key" ))
          ca:          (( vault meta.vault "/certs/ca:certificate" ))



update:
  serial: true
  canaries: 1
  canary_watch_time: 30000-120000
  max_in_flight: 1
  update_watch_time: 30000-120000

releases:
- name: safe
  version: 0.1.0
  sha1: 0251b18836750728b89bb95e615992ec84e99978
  url: https://github.com/cloudfoundry-community/safe-boshrelease/releases/download/v0.1.0/safe-0.1.0.tgz

stemcells:
- alias:   default
  os:      (( grab params.stemcell_os      || 'ubuntu-trusty' ))
  version: (( grab params.stemcell_version || 'latest' ))
